body.add-product {
    background: #93a8ac;
}

.input-group input,
.input-group textarea {
    width: 40ch;
    padding: 0.5rem;
    border: 1px solid #fad4d8;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #fad4d8;
}

.input-group textarea {
    resize: vertical;
    height: 100px;
}

.add-btn {
    width: 100%;
    padding: 1rem;
    background: #3b5249;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

#closeBtn {
     position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #231942;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1000;
  }
  #closeBtn:hover {
    color: #000000;
}

select {
    color: #231942;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
}

select option {
    background-color: #fad4d8;
    color: #231942;
    padding: 10px;
}